<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
{{>headers}}
<p>The site is created by swati verma.we are pulling data from mapbox and weather-stack.com.</p>
<img src="/images/face.jpg" />
{{>footer}}
</body>
</html>